{
"projectPrefix":"${projectPrefix}",
"namespace":"${namespace}",
"trusted_ip": "${trusted_ip}",
"volterraCloudCredAWS": "${volterraCloudCredAWS}",
"volterraCloudCredAzure": "${volterraCloudCredAzure}",
"volterraTenant": "${volterraTenant}",
"awsRegion":"${awsRegion}",
"awsAz1":"${awsAz1}",
"awsAz2":"${awsAz2}",
"awsAz3":"${awsAz3}",
"vpcId":"${vpcId}",
"externalSubnets":${externalSubnets},
"internalSubnets":${internalSubnets},
"workloadSubnets":${workloadSubnets},
"spokeExternalSubnets":${spokeExternalSubnets},
"spokeWorkloadSubnets":${spokeWorkloadSubnets},
"spokeVpcId": "${spokeVpcId}",
"securityGroup":"${securityGroup}",
"spokeSecurityGroup":"${spokeSecurityGroup}"
}
